:root {
  --max-width: 500px;
}

@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Space+Mono:wght@400;700&display=swap');

@font-face {
  font-family: 'Christmas Card';
  font-style: normal;
  font-weight: 400;
  src: local('Christmas Card'),
    local('Christmas Card'),
    url(./assets/Christmas_Card.otf) format('opentype'),
    url(./assets/Christmas_Card.ttf) format('truetype'),
    url(./assets/Christmas_Card.woff) format('woff'),
    url(./assets/Christmas_Card.woff2) format('woff2');
}

html,
body {
  background-color: #f9f6e3;
}

.app {
  display: flex;
  margin: auto;
  container-type: inline-size;
  container-name: app;
}
.app.main {
  max-width: var(--max-width);
  flex-direction: column;
}
.app.flag {
  max-width: 800px;
  margin-top: 1rem;
}
.app.flag .chats  {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.app.flag .chat  {
  padding: 1.25rem;
  border-radius: 10px; 
  position: relative;
  width: fit-content;
  margin: 0 0 1rem;
  max-width: 350px;
}
.app.flag .chat.santa  {
  font-family: 'Christmas Card';
  font-size: 4rem;
  text-shadow: #8c8b8b -3px 3px 0;
  font-weight: bold;
  background-color: #bbb;
  align-self: flex-start;
  margin-right: 1rem;
}
.app.flag .chat.user  {
  color: white;
  background-color: #0b76f9;
  align-self: flex-end;
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  letter-spacing: 2.5px;
  margin-left: 1rem;
}
.app.flag .chat input {
  border: 0;
  outline: 0;
  color: white;
  font-family: "Pangolin", cursive;
  background-color: transparent;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  letter-spacing: 2.5px;
  border-bottom: 1px solid rgba(255,255,255,.25);
  width: fit-content;
  margin-left: 5px;
}
.app.flag .chat input::placeholder {
  color: rgba(255,255,255,.25);
}
.app.flag img {
  width: 100%;
  max-width: 400px;
}

h1 {
  font-family: 'Christmas Card';
  font-size: 12vw;
  margin: 1rem auto 0;
  text-shadow: #dad5a8 -3px 3px 0;
  text-align: center;
}

@container app (min-width: 500px) {
  h1 {
    font-size: 60px;
  }
}